<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="app">
   <header class ="header header_flex header_style center">
      <input type="text" id = "goods-search" v-model="searchLine">
      <input type="button" value="Искать" id = "search-button" @click="serchItems">
      <button class="cart-button cart-button_style " type="button">Корзина</button>
      <div class="itogPrice">
         Сумма: {{ mItemInfo.amount }} Количество товара {{ mItemInfo.countGoods }}
      </div>
   </header>
   <main class="main main_position center">
      <div class="goods-list">
         <div class="goods-item" v-for ="good in filteredItems">
            <h3>{{ good.product_name }}</h3>
            <p>{{ good.price }}</p>
         </div>
      </div>
      <div v-if="filteredItems.length == 0">Нет данных</div>
   </main>
</div>
<script src="script.js"></script>
</body>
</html>  