*
    margin: 0
    padding: 0
.center
    padding: 0 calc( 50% - 570px )        
.goods-list
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 20px
.goods-image
    width: 300px
    height: 200px
    border: 2px black solid
    background-color: yellow
.header_flex 
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: flex-end
.header_style
    min-height: 80px
    background: black       
.cart-button_style
    height: 30px
    width: 100px
.itogPrice 
    min-width: 100px
    text-align: right  
    font-size: 18px
.basket
    background-color: white
    position: relative
    display: flex
    flex-direction: column
    gap: 30px
    border: 1px black solid
.goods-count__input
    display: flex
    gap: 10px
.goods-item__price 
    min-width: 150px
.goods-item
    display: flex
    justify-content: space-around
.cansel
    cursor: pointer
    font-size: 30px
    position: absolute
    right: 10px 
.gatalog
    margin-top: 50px
.catalog-list 
    display: flex
    flex-wrap: wrap
    justify-content: space-around
.catalog-item
    width: 300px
    height: 200px
    border: 2px black solid
    background-color: yellow
    display: flex
    flex-direction: column
    align-items: center
.add_basket
    margin-top: 50px
    width: 150px
    height: 40px
.content
    position: relative
.basket_container
    width: 1140px  
    top: 50%
    position: absolute
.goods-count__pl
    cursor: pointer